body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #333;
    height: 100vh;
    width: 150px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;

  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid #fff;
    transition: background-color 0.3s;
  }

  .navbar a:first-child {
    font-size: 20px; 
  }

  .navbar a:hover {
    background-color: #5C5C5C; 
  }
  
  .main-content {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
  }
  
  .main-content img {
    max-width: 250px;
    margin-bottom: 20px;
  }
  
  .center-div {
    background-color: #f2f2f2;
    padding: 20px;
    padding-left: 80px;
    padding-right:80px;
    margin-bottom: 20px;
    margin-left: 279px;
    margin-right: 129px;
  }
  
  .bottom-divs {
    display: flex;
    justify-content: space-around;
    margin-top: 10px; /* Add margin-top to create space between the bottom divs */
    margin-left: 279px;
    margin-right: 129px;
    width: auto;
    height: 250px;
  }

  .bottom-div h3{
    text-align: left;
    margin: 0;
  }

  .bottom-div p{
    font-family: Arial;
    font-size: 12px;
    text-align: left;
  }
  
  

  .bottom-div {
    
    width: auto;
    text-align: center;
    padding-right: 20px;
    
  }

  .bottom-div-image {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    width: 25%;
    
  }
  
  .footer {
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 170px;
  }

  .footer p{
    text-align: left;
    margin-left: 120px;
  }
  
  .footer-line {
    border-top: 1px solid #fff;
    margin: 10px 0;
  }